/* common styles */
/* made by Leo M */
body {
    font-family:'Raleway',sans-serif ;
}

/* override padding in container element of boostrap */
.container-fluid{
    padding: 0;
}

/* overrides blue halo from the button elements of bootstrap */
button{
    box-shadow: none!important;
}


/* pagination overrride */
/* made by Leo M */
.pagination > li > button
{
    background-color: white;
    color: #000000;
}

.pagination > li > button:focus,
.pagination > li > button:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > button
{
    color: white;
    background-color: #343a40 !Important;
    border: solid 1px #343a40!Important;
}

.pagination > .active > button:hover
{
    background-color: #343a40 !Important;
    border: solid 1px #343a40;
}